@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    background: #F8F8F8;
    font-family: 'Roboto', sans-serif;
    --mdc-theme-primary: #53AF6D;
    --mdc-theme-secondary:#FFCA28;
    caret-color: var(--mdc-theme-primary, #53AF6D);
    margin:0;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label, 
.mdc-text-field--focused .mdc-text-field__input:required~.mdc-floating-label::after,
.mdc-text-field--focused .mdc-text-field__input:required~.mdc-notched-outline .mdc-floating-label::after {
    color: var(--mdc-theme-primary, #53AF6D);
}

/* without this, the fields all expand
   when the MDC JavaScript is run. */
.mdc-text-field {
    margin-top: 16px;
}

#kc-content, #kc-header {
    margin-left: auto;
    margin-right: auto;
}

#kc-navbar .mdc-top-app-bar__title, #kc-navbar .mdc-icon-button {
    color: var(--mdc-theme-primary);
}

#kc-navbar {
    background-color: white;
    color: rgb(68, 68, 68);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 4px 0px;
}

#kc-header {
    width: 90%;
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    margin-top: 3%;
    color: rgb(68, 68, 68);
}

#kc-content {
    margin-top: 50px;
    background: white;
    padding: 20px;
    box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.2),
        0 9px 12px 1px rgba(0, 0, 0, 0.14), 0 3px 16px 2px rgba(0, 0, 0, 0.12);
}

#kc-reset-password-form #kc-form-options {
    float: left;
}

#kc-reset-password-form #kc-form-buttons {
    float: right;
}

#kc-register-form #kc-form-options {
    float: left;
}

#kc-register-form #kc-form-buttons {
    float: right;
}

.clearfix {
    float: none;
    clear: both;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.24);
}

@media (max-width: 768px) {
    #kc-content {
        width: 90%;
    }
}

@media (min-width: 769px) {
    #kc-content {
        width: 360px;
    }
}

.mdc-text-field {
    width: 100%;
}

#kc-form-login #kc-form-options {
    margin-top: 15px;
}

#kc-login {
    float: right;
}

/* #kc-totp-settings img{   
    display: block;
    margin-left: auto;
    margin-right: auto
} */

/*#kc-error-message p {
     margin: 0; 
}*/

.remember-me-checkbox {
    float: left;
}

.register .register-field {
    margin-bottom: 15px;
}

.register .register-button-container {
    margin-top: 20px;
}

.reset-password .reset-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-field {
    margin-bottom: 15px;
}

.update-password .update-password-button-container {
    margin-top: 20px;
}

.config-totp .config-totp-button-container {
    margin-top: 25px;
}

.totp .totp-button-container {
    margin-top: 15px;
}

.update-profile .update-profile-field {
    margin-top: 15px;
}

.update-profile .update-profile-button-container {
    margin-top: 20px;
}

.template .language-picker {
    position: relative;
    margin: 0 auto;
    margin-top: 120px;
    /* margin-bottom: 0px; */
    width: 195px;
}

.template .language-picker .language-icon {
    float: left;
    color: rgba(0, 0, 0, 0.54);
}

.template .language-picker .mdc-select {
    float: right;
    margin-top: -25px;
}

.template .language-picker .mdc-select option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}